#board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
}

.carre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 200px;
    padding: 50px;
    margin: 5px;

    background-color: rgb(57, 138, 10);
    color: white;    
    font-size: 70px;
    
    cursor: pointer;
}

.gtor{
    
    transform: scale(0.9);
    animation: gtor 1s;
    background-color: #a30b0b;
    
}

.rtog{
    
    transform: scale(1) ;
    animation: rtog 1s;
    background-color: rgb(57, 138, 10);
    
}

@keyframes gtor{
    form{
        transform: scale(1) rotate(0deg);
        background-color: rgb(57, 138, 10);
    }
    to{
        transform: scale(0.9) rotate(360deg);
        background-color: #a30b0b;
    }
}

@keyframes rtog{
    form{
        transform: scale(0.9) rotate(0deg);
        background-color: #a30b0b;
    }
    to{

        transform: scale(1) rotate(360deg);
        background-color: rgb(57, 138, 10);
    }
    
}